#CajaPadre { 
	-fx-background-image: url("myBackground3.jpg");
    -fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;
	-fx-font-size: 14px;
    -fx-font-family: 'Russo One', sans-serif;
    
}

#CajaDerecha {
	-fx-background-image: url("frame2.png");
	-fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;
	-fx-pref-width: 850px;
}

#CajaDerecha .label{
	-fx-text-fill: white;
}

.split-pane > .split-pane-divider {  
    -fx-padding: 1;
	-fx-spacing: 2.0cm; 
}

